img {
    width:20%;
    float:left;
    border: solid 5px black;
    border-radius: 10px;
    margin-right: 15px;
}
body{
    background-color: aliceblue;
    font-family:sans-serif;
    padding: 30px;
}
#container{
    background-color:blanchedalmond;
    padding:20px;
    width: 1100px;
    margin: auto;
    margin-top: -40px;
    border-left:5px solid black;
    border-right:5px solid black;
}
h1{
    font-family: Georgia;
    background-color:burlywood;
    padding: 5px;
    border: 5px solid black;
}
p{
    line-height: 30px;
}
#pic2{
    float:right;
    margin-left:15px;
}
.highlight{
    background:yellow;
}
a:link{
    font-weight:bold;
    text-decoration: none;
}
a:visited{
    color:brown
}
a:hover{
    text-decoration: underline;
}
a:active{
    color:red;
}
@media (max-width: 1000px){
    #container{
        width: 650px;
    }
}
@media (max-width:768px){
    #container{
        width:100%;
        border-left: 0px;
        border-right:0px;
        padding:10px;
    }
    body{
        padding:0px;
    }
}